.modal-block{
    width: 550px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 11;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal-body{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-input{
    width: 400px;
}
.user-form{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.form-submit{
    width: 300px;
    font-weight: 700;
    cursor: pointer;
}

.form-btns{
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}