.DataTable-container{
    margin-top: 100px;
}

.datatable-title{
    margin-bottom: 20px;
}

.DataTable{
    border-left: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
    z-index: 0;
}

.DataTable-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DataTable-actionBtns{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}